### Using DataFrames

In [1]:
#using Pkg
#Pkg.add("DataFrames")
using DataFrames

In [2]:
# Creating a data matrix
data = [ 1 2 3 4 5
    6 7 8 9 10
    11 12 13 14 15
]

3×5 Array{Int64,2}:
  1   2   3   4   5
  6   7   8   9  10
 11  12  13  14  15

In [3]:
# Converting it to DataFrame
df = DataFrame(data)

3×5 DataFrame
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │ 4     │ 5     │
│ 2   │ 6     │ 7     │ 8     │ 9     │ 10    │
│ 3   │ 11    │ 12    │ 13    │ 14    │ 15    │

In [5]:
# Describe the data
describe(df)

5×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ x1       │ 6.0     │ 1     │ 6.0     │ 11    │         │          │
│ 2   │ x2       │ 7.0     │ 2     │ 7.0     │ 12    │         │          │
│ 3   │ x3       │ 8.0     │ 3     │ 8.0     │ 13    │         │          │
│ 4   │ x4       │ 9.0     │ 4     │ 9.0     │ 14    │         │          │
│ 5   │ x5       │ 10.0    │ 5     │ 10.0    │ 15    │         │          │

In [6]:
# Convert the DataFrame to Matrix format
mat = Matrix(df)

3×5 Array{Int64,2}:
  1   2   3   4   5
  6   7   8   9  10
 11  12  13  14  15

In [7]:
typeof(mat)

Array{Int64,2}

In [8]:
df

3×5 DataFrame
│ Row │ x1    │ x2    │ x3    │ x4    │ x5    │
│     │ Int64 │ Int64 │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │ 4     │ 5     │
│ 2   │ 6     │ 7     │ 8     │ 9     │ 10    │
│ 3   │ 11    │ 12    │ 13    │ 14    │ 15    │

In [9]:
# Display a column from DataFrame
df.x1

3-element Array{Int64,1}:
  1
  6
 11

In [10]:
df.x4

3-element Array{Int64,1}:
  4
  9
 14

### Creating a Dataframe

In [11]:
# Create a DataFrame using some random data for different columns
make = rand(["Audi", "BMW", "Merc"], 100)

100-element Array{String,1}:
 "BMW"
 "BMW"
 "Audi"
 "Merc"
 "Audi"
 "Audi"
 "Audi"
 "Audi"
 "BMW"
 "Merc"
 "BMW"
 "BMW"
 "Audi"
 ⋮
 "BMW"
 "Audi"
 "Merc"
 "BMW"
 "Audi"
 "Audi"
 "BMW"
 "BMW"
 "Audi"
 "BMW"
 "Audi"
 "BMW"

In [12]:
model = rand(["xz", "yz", "wz", "pz"], 100);
sales = rand(20:100, 100);
rating = rand(1:5, 100);

In [13]:
data = DataFrame(Make = make, Model = model, Sales = sales, Rating = rating)

100×4 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │
│     │ String │ String │ Int64 │ Int64  │
├─────┼────────┼────────┼───────┼────────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │
│ 2   │ BMW    │ xz     │ 58    │ 2      │
│ 3   │ Audi   │ xz     │ 68    │ 1      │
│ 4   │ Merc   │ yz     │ 44    │ 1      │
│ 5   │ Audi   │ xz     │ 31    │ 4      │
│ 6   │ Audi   │ xz     │ 32    │ 3      │
│ 7   │ Audi   │ xz     │ 21    │ 5      │
│ 8   │ Audi   │ xz     │ 45    │ 2      │
│ 9   │ BMW    │ pz     │ 50    │ 2      │
│ 10  │ Merc   │ wz     │ 82    │ 5      │
⋮
│ 90  │ Audi   │ yz     │ 88    │ 5      │
│ 91  │ Merc   │ xz     │ 50    │ 2      │
│ 92  │ BMW    │ xz     │ 28    │ 1      │
│ 93  │ Audi   │ wz     │ 59    │ 5      │
│ 94  │ Audi   │ pz     │ 37    │ 2      │
│ 95  │ BMW    │ yz     │ 93    │ 4      │
│ 96  │ BMW    │ wz     │ 100   │ 5      │
│ 97  │ Audi   │ wz     │ 72    │ 2      │
│ 98  │ BMW    │ pz     │ 34    │ 2      │
│ 99  │ Audi   │ yz     │ 51    │ 2      │
│ 100 │ BMW    │ yz     │ 49    │ 3      │

In [14]:
# Display the columns
names(data)

4-element Array{String,1}:
 "Make"
 "Model"
 "Sales"
 "Rating"

In [15]:
# Check the size of the frame
size(data)

(100, 4)

In [16]:
nrow(data)

100

In [17]:
ncol(data)

4

In [18]:
head(data)

┌ Warning: `head(df::AbstractDataFrame)` is deprecated, use `first(df, 6)` instead.
│   caller = top-level scope at In[18]:1
└ @ Core In[18]:1

6×4 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │
│     │ String │ String │ Int64 │ Int64  │
├─────┼────────┼────────┼───────┼────────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │
│ 2   │ BMW    │ xz     │ 58    │ 2      │
│ 3   │ Audi   │ xz     │ 68    │ 1      │
│ 4   │ Merc   │ yz     │ 44    │ 1      │
│ 5   │ Audi   │ xz     │ 31    │ 4      │
│ 6   │ Audi   │ xz     │ 32    │ 3      │

In [19]:
first(data)

DataFrameRow
│ Row │ Make   │ Model  │ Sales │ Rating │
│     │ String │ String │ Int64 │ Int64  │
├─────┼────────┼────────┼───────┼────────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │

In [20]:
# Check first few rows
first(data, 10)

10×4 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │
│     │ String │ String │ Int64 │ Int64  │
├─────┼────────┼────────┼───────┼────────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │
│ 2   │ BMW    │ xz     │ 58    │ 2      │
│ 3   │ Audi   │ xz     │ 68    │ 1      │
│ 4   │ Merc   │ yz     │ 44    │ 1      │
│ 5   │ Audi   │ xz     │ 31    │ 4      │
│ 6   │ Audi   │ xz     │ 32    │ 3      │
│ 7   │ Audi   │ xz     │ 21    │ 5      │
│ 8   │ Audi   │ xz     │ 45    │ 2      │
│ 9   │ BMW    │ pz     │ 50    │ 2      │
│ 10  │ Merc   │ wz     │ 82    │ 5      │

In [21]:
# Check last few rows
last(data, 10)

10×4 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │
│     │ String │ String │ Int64 │ Int64  │
├─────┼────────┼────────┼───────┼────────┤
│ 1   │ Merc   │ xz     │ 50    │ 2      │
│ 2   │ BMW    │ xz     │ 28    │ 1      │
│ 3   │ Audi   │ wz     │ 59    │ 5      │
│ 4   │ Audi   │ pz     │ 37    │ 2      │
│ 5   │ BMW    │ yz     │ 93    │ 4      │
│ 6   │ BMW    │ wz     │ 100   │ 5      │
│ 7   │ Audi   │ wz     │ 72    │ 2      │
│ 8   │ BMW    │ pz     │ 34    │ 2      │
│ 9   │ Audi   │ yz     │ 51    │ 2      │
│ 10  │ BMW    │ yz     │ 49    │ 3      │

In [22]:
describe(data)

4×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean   │ min  │ median │ max  │ nunique │ nmissing │
│     │ Symbol   │ Union… │ Any  │ Union… │ Any  │ Union…  │ Nothing  │
├─────┼──────────┼────────┼──────┼────────┼──────┼─────────┼──────────┤
│ 1   │ Make     │        │ Audi │        │ Merc │ 3       │          │
│ 2   │ Model    │        │ pz   │        │ yz   │ 4       │          │
│ 3   │ Sales    │ 58.4   │ 20   │ 56.5   │ 100  │         │          │
│ 4   │ Rating   │ 2.73   │ 1    │ 3.0    │ 5    │         │          │

#### Add a new column to the data

In [23]:
data.Price = rand(10000:50000, 100)

100-element Array{Int64,1}:
 48061
 48056
 46900
 47683
 30039
 13141
 47491
 30631
 10056
 13021
 47450
 31100
 28607
     ⋮
 37126
 21404
 39785
 32373
 19070
 28427
 31035
 39689
 40729
 33109
 42162
 13826

In [24]:
first(data, 10)

10×5 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │ 48061 │
│ 2   │ BMW    │ xz     │ 58    │ 2      │ 48056 │
│ 3   │ Audi   │ xz     │ 68    │ 1      │ 46900 │
│ 4   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 5   │ Audi   │ xz     │ 31    │ 4      │ 30039 │
│ 6   │ Audi   │ xz     │ 32    │ 3      │ 13141 │
│ 7   │ Audi   │ xz     │ 21    │ 5      │ 47491 │
│ 8   │ Audi   │ xz     │ 45    │ 2      │ 30631 │
│ 9   │ BMW    │ pz     │ 50    │ 2      │ 10056 │
│ 10  │ Merc   │ wz     │ 82    │ 5      │ 13021 │

In [25]:
typeof(data)

DataFrame

#### Group the dataframe baseed upon some column

In [26]:
gdf = groupby(data, :Make)

GroupedDataFrame with 3 groups based on key: Make
First Group (35 rows): Make = "BMW"
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │ 48061 │
│ 2   │ BMW    │ xz     │ 58    │ 2      │ 48056 │
│ 3   │ BMW    │ pz     │ 50    │ 2      │ 10056 │
│ 4   │ BMW    │ yz     │ 89    │ 3      │ 47450 │
│ 5   │ BMW    │ pz     │ 79    │ 1      │ 31100 │
│ 6   │ BMW    │ yz     │ 36    │ 2      │ 35093 │
│ 7   │ BMW    │ yz     │ 24    │ 2      │ 36230 │
│ 8   │ BMW    │ pz     │ 29    │ 1      │ 29406 │
│ 9   │ BMW    │ yz     │ 21    │ 4      │ 43961 │
│ 10  │ BMW    │ wz     │ 51    │ 4      │ 21422 │
⋮
│ 25  │ BMW    │ wz     │ 86    │ 5      │ 18030 │
│ 26  │ BMW    │ pz     │ 35    │ 3      │ 39044 │
│ 27  │ BMW    │ xz     │ 76    │ 3      │ 31458 │
│ 28  │ BMW    │ xz     │ 83    │ 4      │ 20728 │
│ 29  │ BMW    │ pz     │ 43    │ 5      │ 41178 │
│ 30  │ BMW    │ wz     │ 56    │ 2      │ 37126 │
│ 31  │ BMW    │ xz     │ 28    │ 1      │ 32373 │
│ 32  │ BMW    │ yz     │ 93    │ 4      │ 31035 │
│ 33  │ BMW    │ wz     │ 100   │ 5      │ 39689 │
│ 34  │ BMW    │ pz     │ 34    │ 2      │ 33109 │
│ 35  │ BMW    │ yz     │ 49    │ 3      │ 13826 │
⋮
Last Group (28 rows): Make = "Merc"
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 2   │ Merc   │ wz     │ 82    │ 5      │ 13021 │
│ 3   │ Merc   │ wz     │ 50    │ 2      │ 48464 │
│ 4   │ Merc   │ pz     │ 96    │ 3      │ 39882 │
│ 5   │ Merc   │ xz     │ 33    │ 5      │ 41830 │
│ 6   │ Merc   │ yz     │ 73    │ 3      │ 43473 │
│ 7   │ Merc   │ pz     │ 60    │ 5      │ 35299 │
│ 8   │ Merc   │ pz     │ 80    │ 2      │ 33668 │
│ 9   │ Merc   │ wz     │ 67    │ 3      │ 12350 │
│ 10  │ Merc   │ yz     │ 24    │ 3      │ 49176 │
⋮
│ 18  │ Merc   │ wz     │ 86    │ 4      │ 45604 │
│ 19  │ Merc   │ pz     │ 29    │ 5      │ 16023 │
│ 20  │ Merc   │ pz     │ 49    │ 2      │ 38323 │
│ 21  │ Merc   │ xz     │ 42    │ 2      │ 29513 │
│ 22  │ Merc   │ pz     │ 49    │ 4      │ 40682 │
│ 23  │ Merc   │ xz     │ 30    │ 5      │ 47809 │
│ 24  │ Merc   │ pz     │ 57    │ 4      │ 45306 │
│ 25  │ Merc   │ wz     │ 89    │ 4      │ 28576 │
│ 26  │ Merc   │ wz     │ 78    │ 2      │ 12978 │
│ 27  │ Merc   │ wz     │ 51    │ 1      │ 43168 │
│ 28  │ Merc   │ xz     │ 50    │ 2      │ 39785 │

In [27]:
gdf[("Merc", )]

28×5 SubDataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 2   │ Merc   │ wz     │ 82    │ 5      │ 13021 │
│ 3   │ Merc   │ wz     │ 50    │ 2      │ 48464 │
│ 4   │ Merc   │ pz     │ 96    │ 3      │ 39882 │
│ 5   │ Merc   │ xz     │ 33    │ 5      │ 41830 │
│ 6   │ Merc   │ yz     │ 73    │ 3      │ 43473 │
│ 7   │ Merc   │ pz     │ 60    │ 5      │ 35299 │
│ 8   │ Merc   │ pz     │ 80    │ 2      │ 33668 │
│ 9   │ Merc   │ wz     │ 67    │ 3      │ 12350 │
│ 10  │ Merc   │ yz     │ 24    │ 3      │ 49176 │
⋮
│ 18  │ Merc   │ wz     │ 86    │ 4      │ 45604 │
│ 19  │ Merc   │ pz     │ 29    │ 5      │ 16023 │
│ 20  │ Merc   │ pz     │ 49    │ 2      │ 38323 │
│ 21  │ Merc   │ xz     │ 42    │ 2      │ 29513 │
│ 22  │ Merc   │ pz     │ 49    │ 4      │ 40682 │
│ 23  │ Merc   │ xz     │ 30    │ 5      │ 47809 │
│ 24  │ Merc   │ pz     │ 57    │ 4      │ 45306 │
│ 25  │ Merc   │ wz     │ 89    │ 4      │ 28576 │
│ 26  │ Merc   │ wz     │ 78    │ 2      │ 12978 │
│ 27  │ Merc   │ wz     │ 51    │ 1      │ 43168 │
│ 28  │ Merc   │ xz     │ 50    │ 2      │ 39785 │

#### Let's dump the data into CSV file

In [28]:
using CSV

In [29]:
CSV.write("Model_data.csv", data)

"Model_data.csv"

In [30]:
CSV.read("Model_data.csv")

100×5 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │ 48061 │
│ 2   │ BMW    │ xz     │ 58    │ 2      │ 48056 │
│ 3   │ Audi   │ xz     │ 68    │ 1      │ 46900 │
│ 4   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 5   │ Audi   │ xz     │ 31    │ 4      │ 30039 │
│ 6   │ Audi   │ xz     │ 32    │ 3      │ 13141 │
│ 7   │ Audi   │ xz     │ 21    │ 5      │ 47491 │
│ 8   │ Audi   │ xz     │ 45    │ 2      │ 30631 │
│ 9   │ BMW    │ pz     │ 50    │ 2      │ 10056 │
│ 10  │ Merc   │ wz     │ 82    │ 5      │ 13021 │
⋮
│ 90  │ Audi   │ yz     │ 88    │ 5      │ 21404 │
│ 91  │ Merc   │ xz     │ 50    │ 2      │ 39785 │
│ 92  │ BMW    │ xz     │ 28    │ 1      │ 32373 │
│ 93  │ Audi   │ wz     │ 59    │ 5      │ 19070 │
│ 94  │ Audi   │ pz     │ 37    │ 2      │ 28427 │
│ 95  │ BMW    │ yz     │ 93    │ 4      │ 31035 │
│ 96  │ BMW    │ wz     │ 100   │ 5      │ 39689 │
│ 97  │ Audi   │ wz     │ 72    │ 2      │ 40729 │
│ 98  │ BMW    │ pz     │ 34    │ 2      │ 33109 │
│ 99  │ Audi   │ yz     │ 51    │ 2      │ 42162 │
│ 100 │ BMW    │ yz     │ 49    │ 3      │ 13826 │

#### Let's create a JSON data from the same

In [32]:
using Pkg
Pkg.add("JSONTables")

   Updating registry at `~/.julia/registries/General`

   Updating git-repo `https://github.com/JuliaRegistries/General.git`

[1mFetching: [========================================>]  100.0 %

  Resolving package versions...
   Updating `~/.julia/environments/v1.4/Project.toml`
 [no changes]
   Updating `~/.julia/environments/v1.4/Manifest.toml`
 [no changes]

In [33]:
using JSONTables

In [34]:
open(io->arraytable(io, data), "Model_data.json", "w")

6468

In [35]:
open(jsontable, "Model_data.json") |> DataFrame

100×5 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │ 48061 │
│ 2   │ BMW    │ xz     │ 58    │ 2      │ 48056 │
│ 3   │ Audi   │ xz     │ 68    │ 1      │ 46900 │
│ 4   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 5   │ Audi   │ xz     │ 31    │ 4      │ 30039 │
│ 6   │ Audi   │ xz     │ 32    │ 3      │ 13141 │
│ 7   │ Audi   │ xz     │ 21    │ 5      │ 47491 │
│ 8   │ Audi   │ xz     │ 45    │ 2      │ 30631 │
│ 9   │ BMW    │ pz     │ 50    │ 2      │ 10056 │
│ 10  │ Merc   │ wz     │ 82    │ 5      │ 13021 │
⋮
│ 90  │ Audi   │ yz     │ 88    │ 5      │ 21404 │
│ 91  │ Merc   │ xz     │ 50    │ 2      │ 39785 │
│ 92  │ BMW    │ xz     │ 28    │ 1      │ 32373 │
│ 93  │ Audi   │ wz     │ 59    │ 5      │ 19070 │
│ 94  │ Audi   │ pz     │ 37    │ 2      │ 28427 │
│ 95  │ BMW    │ yz     │ 93    │ 4      │ 31035 │
│ 96  │ BMW    │ wz     │ 100   │ 5      │ 39689 │
│ 97  │ Audi   │ wz     │ 72    │ 2      │ 40729 │
│ 98  │ BMW    │ pz     │ 34    │ 2      │ 33109 │
│ 99  │ Audi   │ yz     │ 51    │ 2      │ 42162 │
│ 100 │ BMW    │ yz     │ 49    │ 3      │ 13826 │

#### Dump the data into binary file using Serialization

In [36]:
using Serialization

In [37]:
open("Model_data.bin", "w") do io
    serialize(io, data)
end

In [38]:
open(deserialize, "Model_data.bin")

100×5 DataFrame
│ Row │ Make   │ Model  │ Sales │ Rating │ Price │
│     │ String │ String │ Int64 │ Int64  │ Int64 │
├─────┼────────┼────────┼───────┼────────┼───────┤
│ 1   │ BMW    │ yz     │ 32    │ 2      │ 48061 │
│ 2   │ BMW    │ xz     │ 58    │ 2      │ 48056 │
│ 3   │ Audi   │ xz     │ 68    │ 1      │ 46900 │
│ 4   │ Merc   │ yz     │ 44    │ 1      │ 47683 │
│ 5   │ Audi   │ xz     │ 31    │ 4      │ 30039 │
│ 6   │ Audi   │ xz     │ 32    │ 3      │ 13141 │
│ 7   │ Audi   │ xz     │ 21    │ 5      │ 47491 │
│ 8   │ Audi   │ xz     │ 45    │ 2      │ 30631 │
│ 9   │ BMW    │ pz     │ 50    │ 2      │ 10056 │
│ 10  │ Merc   │ wz     │ 82    │ 5      │ 13021 │
⋮
│ 90  │ Audi   │ yz     │ 88    │ 5      │ 21404 │
│ 91  │ Merc   │ xz     │ 50    │ 2      │ 39785 │
│ 92  │ BMW    │ xz     │ 28    │ 1      │ 32373 │
│ 93  │ Audi   │ wz     │ 59    │ 5      │ 19070 │
│ 94  │ Audi   │ pz     │ 37    │ 2      │ 28427 │
│ 95  │ BMW    │ yz     │ 93    │ 4      │ 31035 │
│ 96  │ BMW    │ wz     │ 100   │ 5      │ 39689 │
│ 97  │ Audi   │ wz     │ 72    │ 2      │ 40729 │
│ 98  │ BMW    │ pz     │ 34    │ 2      │ 33109 │
│ 99  │ Audi   │ yz     │ 51    │ 2      │ 42162 │
│ 100 │ BMW    │ yz     │ 49    │ 3      │ 13826 │

### Use data from CSV file for analysis

In [48]:
new_df = CSV.File("covid_india.csv") |> DataFrame

3387×9 DataFrame. Omitted printing of 5 columns
│ Row  │ Sno   │ Date     │ Time    │ State                            │
│      │ Int64 │ String   │ String  │ String                           │
├──────┼───────┼──────────┼─────────┼──────────────────────────────────┤
│ 1    │ 1     │ 30/01/20 │ 6:00 PM │ Kerala                           │
│ 2    │ 2     │ 31/01/20 │ 6:00 PM │ Kerala                           │
│ 3    │ 3     │ 01/02/20 │ 6:00 PM │ Kerala                           │
│ 4    │ 4     │ 02/02/20 │ 6:00 PM │ Kerala                           │
│ 5    │ 5     │ 03/02/20 │ 6:00 PM │ Kerala                           │
│ 6    │ 6     │ 04/02/20 │ 6:00 PM │ Kerala                           │
│ 7    │ 7     │ 05/02/20 │ 6:00 PM │ Kerala                           │
│ 8    │ 8     │ 06/02/20 │ 6:00 PM │ Kerala                           │
│ 9    │ 9     │ 07/02/20 │ 6:00 PM │ Kerala                           │
│ 10   │ 10    │ 08/02/20 │ 6:00 PM │ Kerala                           │
⋮
│ 3377 │ 3377  │ 24/06/20 │ 8:00 AM │ Puducherry                       │
│ 3378 │ 3378  │ 24/06/20 │ 8:00 AM │ Punjab                           │
│ 3379 │ 3379  │ 24/06/20 │ 8:00 AM │ Rajasthan                        │
│ 3380 │ 3380  │ 24/06/20 │ 8:00 AM │ Sikkim                           │
│ 3381 │ 3381  │ 24/06/20 │ 8:00 AM │ Tamil Nadu                       │
│ 3382 │ 3382  │ 24/06/20 │ 8:00 AM │ Telangana                        │
│ 3383 │ 3383  │ 24/06/20 │ 8:00 AM │ Tripura                          │
│ 3384 │ 3384  │ 24/06/20 │ 8:00 AM │ Uttarakhand                      │
│ 3385 │ 3385  │ 24/06/20 │ 8:00 AM │ Uttar Pradesh                    │
│ 3386 │ 3386  │ 24/06/20 │ 8:00 AM │ West Bengal                      │
│ 3387 │ 3387  │ 24/06/20 │ 8:00 AM │ Cases being reassigned to states │

In [49]:
gdf = groupby(new_df, :State)

GroupedDataFrame with 40 groups based on key: State
First Group (147 rows): State = "Kerala". Omitted printing of 4 columns
│ Row │ Sno   │ Date     │ Time    │ State  │ ConfirmedIndianNational │
│     │ Int64 │ String   │ String  │ String │ String                  │
├─────┼───────┼──────────┼─────────┼────────┼─────────────────────────┤
│ 1   │ 1     │ 30/01/20 │ 6:00 PM │ Kerala │ 1                       │
│ 2   │ 2     │ 31/01/20 │ 6:00 PM │ Kerala │ 1                       │
│ 3   │ 3     │ 01/02/20 │ 6:00 PM │ Kerala │ 2                       │
│ 4   │ 4     │ 02/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 5   │ 5     │ 03/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 6   │ 6     │ 04/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 7   │ 7     │ 05/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 8   │ 8     │ 06/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 9   │ 9     │ 07/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 10  │ 10    │ 08/02/20 │ 6:00 PM │ Kerala │ 3                       │
⋮
│ 137 │ 3008  │ 14/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 138 │ 3044  │ 15/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 139 │ 3080  │ 16/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 140 │ 3116  │ 17/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 141 │ 3152  │ 18/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 142 │ 3188  │ 19/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 143 │ 3224  │ 20/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 144 │ 3260  │ 21/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 145 │ 3296  │ 22/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 146 │ 3332  │ 23/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 147 │ 3368  │ 24/06/20 │ 8:00 AM │ Kerala │ -                       │
⋮
Last Group (13 rows): State = "Telangana". Omitted printing of 4 columns
│ Row │ Sno   │ Date     │ Time    │ State     │ ConfirmedIndianNational │
│     │ Int64 │ String   │ String  │ String    │ String                  │
├─────┼───────┼──────────┼─────────┼───────────┼─────────────────────────┤
│ 1   │ 2950  │ 12/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 2   │ 2986  │ 13/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 3   │ 3022  │ 14/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 4   │ 3058  │ 15/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 5   │ 3094  │ 16/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 6   │ 3130  │ 17/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 7   │ 3166  │ 18/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 8   │ 3202  │ 19/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 9   │ 3238  │ 20/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 10  │ 3274  │ 21/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 11  │ 3310  │ 22/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 12  │ 3346  │ 23/06/20 │ 8:00 AM │ Telangana │ -                       │
│ 13  │ 3382  │ 24/06/20 │ 8:00 AM │ Telangana │ -                       │

In [50]:
gdf[("Kerala", )]

147×9 SubDataFrame. Omitted printing of 4 columns
│ Row │ Sno   │ Date     │ Time    │ State  │ ConfirmedIndianNational │
│     │ Int64 │ String   │ String  │ String │ String                  │
├─────┼───────┼──────────┼─────────┼────────┼─────────────────────────┤
│ 1   │ 1     │ 30/01/20 │ 6:00 PM │ Kerala │ 1                       │
│ 2   │ 2     │ 31/01/20 │ 6:00 PM │ Kerala │ 1                       │
│ 3   │ 3     │ 01/02/20 │ 6:00 PM │ Kerala │ 2                       │
│ 4   │ 4     │ 02/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 5   │ 5     │ 03/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 6   │ 6     │ 04/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 7   │ 7     │ 05/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 8   │ 8     │ 06/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 9   │ 9     │ 07/02/20 │ 6:00 PM │ Kerala │ 3                       │
│ 10  │ 10    │ 08/02/20 │ 6:00 PM │ Kerala │ 3                       │
⋮
│ 137 │ 3008  │ 14/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 138 │ 3044  │ 15/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 139 │ 3080  │ 16/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 140 │ 3116  │ 17/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 141 │ 3152  │ 18/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 142 │ 3188  │ 19/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 143 │ 3224  │ 20/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 144 │ 3260  │ 21/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 145 │ 3296  │ 22/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 146 │ 3332  │ 23/06/20 │ 8:00 AM │ Kerala │ -                       │
│ 147 │ 3368  │ 24/06/20 │ 8:00 AM │ Kerala │ -                       │

In [51]:
describe(new_df)

9×8 DataFrame. Omitted printing of 5 columns
│ Row │ variable                 │ mean    │ min                         │
│     │ Symbol                   │ Union…  │ Any                         │
├─────┼──────────────────────────┼─────────┼─────────────────────────────┤
│ 1   │ Sno                      │ 1694.0  │ 1                           │
│ 2   │ Date                     │         │ 01/02/20                    │
│ 3   │ Time                     │         │ 10:00 AM                    │
│ 4   │ State                    │         │ Andaman and Nicobar Islands │
│ 5   │ ConfirmedIndianNational  │         │ -                           │
│ 6   │ ConfirmedForeignNational │         │ -                           │
│ 7   │ Cured                    │ 1493.67 │ 0                           │
│ 8   │ Deaths                   │ 96.7384 │ 0                           │
│ 9   │ Confirmed                │ 3192.31 │ 0                           │

#### Drop a column

In [52]:
select!(new_df, Not(:Time))

3387×8 DataFrame. Omitted printing of 5 columns
│ Row  │ Sno   │ Date     │ State                            │
│      │ Int64 │ String   │ String                           │
├──────┼───────┼──────────┼──────────────────────────────────┤
│ 1    │ 1     │ 30/01/20 │ Kerala                           │
│ 2    │ 2     │ 31/01/20 │ Kerala                           │
│ 3    │ 3     │ 01/02/20 │ Kerala                           │
│ 4    │ 4     │ 02/02/20 │ Kerala                           │
│ 5    │ 5     │ 03/02/20 │ Kerala                           │
│ 6    │ 6     │ 04/02/20 │ Kerala                           │
│ 7    │ 7     │ 05/02/20 │ Kerala                           │
│ 8    │ 8     │ 06/02/20 │ Kerala                           │
│ 9    │ 9     │ 07/02/20 │ Kerala                           │
│ 10   │ 10    │ 08/02/20 │ Kerala                           │
⋮
│ 3377 │ 3377  │ 24/06/20 │ Puducherry                       │
│ 3378 │ 3378  │ 24/06/20 │ Punjab                           │
│ 3379 │ 3379  │ 24/06/20 │ Rajasthan                        │
│ 3380 │ 3380  │ 24/06/20 │ Sikkim                           │
│ 3381 │ 3381  │ 24/06/20 │ Tamil Nadu                       │
│ 3382 │ 3382  │ 24/06/20 │ Telangana                        │
│ 3383 │ 3383  │ 24/06/20 │ Tripura                          │
│ 3384 │ 3384  │ 24/06/20 │ Uttarakhand                      │
│ 3385 │ 3385  │ 24/06/20 │ Uttar Pradesh                    │
│ 3386 │ 3386  │ 24/06/20 │ West Bengal                      │
│ 3387 │ 3387  │ 24/06/20 │ Cases being reassigned to states │

In [53]:
select!(new_df, Not(:ConfirmedIndianNational))

3387×7 DataFrame. Omitted printing of 4 columns
│ Row  │ Sno   │ Date     │ State                            │
│      │ Int64 │ String   │ String                           │
├──────┼───────┼──────────┼──────────────────────────────────┤
│ 1    │ 1     │ 30/01/20 │ Kerala                           │
│ 2    │ 2     │ 31/01/20 │ Kerala                           │
│ 3    │ 3     │ 01/02/20 │ Kerala                           │
│ 4    │ 4     │ 02/02/20 │ Kerala                           │
│ 5    │ 5     │ 03/02/20 │ Kerala                           │
│ 6    │ 6     │ 04/02/20 │ Kerala                           │
│ 7    │ 7     │ 05/02/20 │ Kerala                           │
│ 8    │ 8     │ 06/02/20 │ Kerala                           │
│ 9    │ 9     │ 07/02/20 │ Kerala                           │
│ 10   │ 10    │ 08/02/20 │ Kerala                           │
⋮
│ 3377 │ 3377  │ 24/06/20 │ Puducherry                       │
│ 3378 │ 3378  │ 24/06/20 │ Punjab                           │
│ 3379 │ 3379  │ 24/06/20 │ Rajasthan                        │
│ 3380 │ 3380  │ 24/06/20 │ Sikkim                           │
│ 3381 │ 3381  │ 24/06/20 │ Tamil Nadu                       │
│ 3382 │ 3382  │ 24/06/20 │ Telangana                        │
│ 3383 │ 3383  │ 24/06/20 │ Tripura                          │
│ 3384 │ 3384  │ 24/06/20 │ Uttarakhand                      │
│ 3385 │ 3385  │ 24/06/20 │ Uttar Pradesh                    │
│ 3386 │ 3386  │ 24/06/20 │ West Bengal                      │
│ 3387 │ 3387  │ 24/06/20 │ Cases being reassigned to states │

In [54]:
select!(new_df, Not(:ConfirmedForeignNational))

3387×6 DataFrame. Omitted printing of 1 columns
│ Row  │ Sno   │ Date     │ State                            │ Cured │ Deaths │
│      │ Int64 │ String   │ String                           │ Int64 │ Int64  │
├──────┼───────┼──────────┼──────────────────────────────────┼───────┼────────┤
│ 1    │ 1     │ 30/01/20 │ Kerala                           │ 0     │ 0      │
│ 2    │ 2     │ 31/01/20 │ Kerala                           │ 0     │ 0      │
│ 3    │ 3     │ 01/02/20 │ Kerala                           │ 0     │ 0      │
│ 4    │ 4     │ 02/02/20 │ Kerala                           │ 0     │ 0      │
│ 5    │ 5     │ 03/02/20 │ Kerala                           │ 0     │ 0      │
│ 6    │ 6     │ 04/02/20 │ Kerala                           │ 0     │ 0      │
│ 7    │ 7     │ 05/02/20 │ Kerala                           │ 0     │ 0      │
│ 8    │ 8     │ 06/02/20 │ Kerala                           │ 0     │ 0      │
│ 9    │ 9     │ 07/02/20 │ Kerala                           │ 0     │ 0      │
│ 10   │ 10    │ 08/02/20 │ Kerala                           │ 0     │ 0      │
⋮
│ 3377 │ 3377  │ 24/06/20 │ Puducherry                       │ 165   │ 9      │
│ 3378 │ 3378  │ 24/06/20 │ Punjab                           │ 3047  │ 105    │
│ 3379 │ 3379  │ 24/06/20 │ Rajasthan                        │ 12213 │ 365    │
│ 3380 │ 3380  │ 24/06/20 │ Sikkim                           │ 29    │ 0      │
│ 3381 │ 3381  │ 24/06/20 │ Tamil Nadu                       │ 35339 │ 833    │
│ 3382 │ 3382  │ 24/06/20 │ Telangana                        │ 4224  │ 220    │
│ 3383 │ 3383  │ 24/06/20 │ Tripura                          │ 807   │ 1      │
│ 3384 │ 3384  │ 24/06/20 │ Uttarakhand                      │ 1602  │ 30     │
│ 3385 │ 3385  │ 24/06/20 │ Uttar Pradesh                    │ 12116 │ 588    │
│ 3386 │ 3386  │ 24/06/20 │ West Bengal                      │ 9218  │ 580    │
│ 3387 │ 3387  │ 24/06/20 │ Cases being reassigned to states │ 0     │ 0      │

#### Sort on the basis of a column

In [55]:
sort!(new_df, [order(:Deaths)])

3387×6 DataFrame
│ Row  │ Sno   │ Date     │ State       │ Cured │ Deaths │ Confirmed │
│      │ Int64 │ String   │ String      │ Int64 │ Int64  │ Int64     │
├──────┼───────┼──────────┼─────────────┼───────┼────────┼───────────┤
│ 1    │ 1     │ 30/01/20 │ Kerala      │ 0     │ 0      │ 1         │
│ 2    │ 2     │ 31/01/20 │ Kerala      │ 0     │ 0      │ 1         │
│ 3    │ 3     │ 01/02/20 │ Kerala      │ 0     │ 0      │ 2         │
│ 4    │ 4     │ 02/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 5    │ 5     │ 03/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 6    │ 6     │ 04/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 7    │ 7     │ 05/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 8    │ 8     │ 06/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 9    │ 9     │ 07/02/20 │ Kerala      │ 0     │ 0      │ 3         │
│ 10   │ 10    │ 08/02/20 │ Kerala      │ 0     │ 0      │ 3         │
⋮
│ 3377 │ 3011  │ 14/06/20 │ Maharashtra │ 49346 │ 3830   │ 104568    │
│ 3378 │ 3047  │ 15/06/20 │ Maharashtra │ 50978 │ 3950   │ 107958    │
│ 3379 │ 3083  │ 16/06/20 │ Maharashtra │ 56049 │ 4128   │ 110744    │
│ 3380 │ 3119  │ 17/06/20 │ Maharashtra │ 57851 │ 5537   │ 113445    │
│ 3381 │ 3155  │ 18/06/20 │ Maharashtra │ 59166 │ 5651   │ 116752    │
│ 3382 │ 3191  │ 19/06/20 │ Maharashtra │ 60838 │ 5751   │ 120504    │
│ 3383 │ 3227  │ 20/06/20 │ Maharashtra │ 62773 │ 5893   │ 124331    │
│ 3384 │ 3263  │ 21/06/20 │ Maharashtra │ 64153 │ 5984   │ 128205    │
│ 3385 │ 3299  │ 22/06/20 │ Maharashtra │ 65744 │ 6170   │ 132075    │
│ 3386 │ 3335  │ 23/06/20 │ Maharashtra │ 67706 │ 6283   │ 135796    │
│ 3387 │ 3371  │ 24/06/20 │ Maharashtra │ 69631 │ 6531   │ 139010    │

In [56]:
last(new_df, 10)

10×6 DataFrame
│ Row │ Sno   │ Date     │ State       │ Cured │ Deaths │ Confirmed │
│     │ Int64 │ String   │ String      │ Int64 │ Int64  │ Int64     │
├─────┼───────┼──────────┼─────────────┼───────┼────────┼───────────┤
│ 1   │ 3047  │ 15/06/20 │ Maharashtra │ 50978 │ 3950   │ 107958    │
│ 2   │ 3083  │ 16/06/20 │ Maharashtra │ 56049 │ 4128   │ 110744    │
│ 3   │ 3119  │ 17/06/20 │ Maharashtra │ 57851 │ 5537   │ 113445    │
│ 4   │ 3155  │ 18/06/20 │ Maharashtra │ 59166 │ 5651   │ 116752    │
│ 5   │ 3191  │ 19/06/20 │ Maharashtra │ 60838 │ 5751   │ 120504    │
│ 6   │ 3227  │ 20/06/20 │ Maharashtra │ 62773 │ 5893   │ 124331    │
│ 7   │ 3263  │ 21/06/20 │ Maharashtra │ 64153 │ 5984   │ 128205    │
│ 8   │ 3299  │ 22/06/20 │ Maharashtra │ 65744 │ 6170   │ 132075    │
│ 9   │ 3335  │ 23/06/20 │ Maharashtra │ 67706 │ 6283   │ 135796    │
│ 10  │ 3371  │ 24/06/20 │ Maharashtra │ 69631 │ 6531   │ 139010    │

#### Filter data based on some conditions

In [57]:
filter(row -> row.Deaths .> 10, new_df)

1071×6 DataFrame
│ Row  │ Sno   │ Date     │ State         │ Cured │ Deaths │ Confirmed │
│      │ Int64 │ String   │ String        │ Int64 │ Int64  │ Int64     │
├──────┼───────┼──────────┼───────────────┼───────┼────────┼───────────┤
│ 1    │ 658   │ 05/04/20 │ Gujarat       │ 18    │ 11     │ 122       │
│ 2    │ 825   │ 10/04/20 │ Punjab        │ 5     │ 11     │ 132       │
│ 3    │ 856   │ 11/04/20 │ Punjab        │ 5     │ 11     │ 132       │
│ 4    │ 887   │ 12/04/20 │ Punjab        │ 5     │ 11     │ 151       │
│ 5    │ 919   │ 13/04/20 │ Punjab        │ 14    │ 11     │ 167       │
│ 6    │ 921   │ 13/04/20 │ Tamil Nadu    │ 50    │ 11     │ 1075      │
│ 7    │ 954   │ 14/04/20 │ Tamil Nadu    │ 58    │ 11     │ 1173      │
│ 8    │ 974   │ 15/04/20 │ Karnataka     │ 75    │ 11     │ 277       │
│ 9    │ 991   │ 15/04/20 │ Uttar Pradesh │ 51    │ 11     │ 735       │
│ 10   │ 1052  │ 17/04/20 │ Rajasthan     │ 164   │ 11     │ 1131      │
⋮
│ 1061 │ 3011  │ 14/06/20 │ Maharashtra   │ 49346 │ 3830   │ 104568    │
│ 1062 │ 3047  │ 15/06/20 │ Maharashtra   │ 50978 │ 3950   │ 107958    │
│ 1063 │ 3083  │ 16/06/20 │ Maharashtra   │ 56049 │ 4128   │ 110744    │
│ 1064 │ 3119  │ 17/06/20 │ Maharashtra   │ 57851 │ 5537   │ 113445    │
│ 1065 │ 3155  │ 18/06/20 │ Maharashtra   │ 59166 │ 5651   │ 116752    │
│ 1066 │ 3191  │ 19/06/20 │ Maharashtra   │ 60838 │ 5751   │ 120504    │
│ 1067 │ 3227  │ 20/06/20 │ Maharashtra   │ 62773 │ 5893   │ 124331    │
│ 1068 │ 3263  │ 21/06/20 │ Maharashtra   │ 64153 │ 5984   │ 128205    │
│ 1069 │ 3299  │ 22/06/20 │ Maharashtra   │ 65744 │ 6170   │ 132075    │
│ 1070 │ 3335  │ 23/06/20 │ Maharashtra   │ 67706 │ 6283   │ 135796    │
│ 1071 │ 3371  │ 24/06/20 │ Maharashtra   │ 69631 │ 6531   │ 139010    │

In [58]:
filter(row -> row.Deaths .> 10 && row.Deaths .< 15, new_df)

88×6 DataFrame
│ Row │ Sno   │ Date     │ State         │ Cured │ Deaths │ Confirmed │
│     │ Int64 │ String   │ String        │ Int64 │ Int64  │ Int64     │
├─────┼───────┼──────────┼───────────────┼───────┼────────┼───────────┤
│ 1   │ 658   │ 05/04/20 │ Gujarat       │ 18    │ 11     │ 122       │
│ 2   │ 825   │ 10/04/20 │ Punjab        │ 5     │ 11     │ 132       │
│ 3   │ 856   │ 11/04/20 │ Punjab        │ 5     │ 11     │ 132       │
│ 4   │ 887   │ 12/04/20 │ Punjab        │ 5     │ 11     │ 151       │
│ 5   │ 919   │ 13/04/20 │ Punjab        │ 14    │ 11     │ 167       │
│ 6   │ 921   │ 13/04/20 │ Tamil Nadu    │ 50    │ 11     │ 1075      │
│ 7   │ 954   │ 14/04/20 │ Tamil Nadu    │ 58    │ 11     │ 1173      │
│ 8   │ 974   │ 15/04/20 │ Karnataka     │ 75    │ 11     │ 277       │
│ 9   │ 991   │ 15/04/20 │ Uttar Pradesh │ 51    │ 11     │ 735       │
│ 10  │ 1052  │ 17/04/20 │ Rajasthan     │ 164   │ 11     │ 1131      │
⋮
│ 78  │ 1057  │ 17/04/20 │ Uttar Pradesh │ 74    │ 14     │ 846       │
│ 79  │ 1090  │ 18/04/20 │ Uttar Pradesh │ 86    │ 14     │ 969       │
│ 80  │ 1106  │ 19/04/20 │ Karnataka     │ 104   │ 14     │ 384       │
│ 81  │ 1151  │ 20/04/20 │ Rajasthan     │ 183   │ 14     │ 1478      │
│ 82  │ 2046  │ 18/05/20 │ Haryana       │ 562   │ 14     │ 910       │
│ 83  │ 2079  │ 19/05/20 │ Haryana       │ 598   │ 14     │ 928       │
│ 84  │ 2112  │ 20/05/20 │ Haryana       │ 627   │ 14     │ 964       │
│ 85  │ 2146  │ 21/05/20 │ Haryana       │ 648   │ 14     │ 993       │
│ 86  │ 2683  │ 05/06/20 │ Kerala        │ 690   │ 14     │ 1588      │
│ 87  │ 2719  │ 06/06/20 │ Kerala        │ 712   │ 14     │ 1699      │
│ 88  │ 3304  │ 22/06/20 │ Odisha        │ 3720  │ 14     │ 5160      │

### Use statstics on DataFrame

In [59]:
using Statistics

In [60]:
mean(new_df.Deaths)

96.73841157366401

### Using datasets module for pre-defined data

In [108]:
using RDatasets

ArgumentError: ArgumentError: Package RDatasets not found in current path:
- Run `import Pkg; Pkg.add("RDatasets")` to install the RDatasets package.

In [109]:
import Pkg; Pkg.add("RDatasets")

  Resolving package versions...
  Installed Libiconv_jll ─────── v1.16.0+5
  Installed EzXML ────────────── v1.1.0
  Installed RData ────────────── v0.7.2
  Installed TimeZones ────────── v1.2.0
  Installed Mocking ──────────── v0.7.1
  Installed FileIO ───────────── v1.3.0
  Installed TranscodingStreams ─ v0.9.5
  Installed ExprTools ────────── v0.1.1
  Installed CodecZlib ────────── v0.7.0
  Installed XML2_jll ─────────── v2.9.10+1
  Installed RDatasets ────────── v0.6.9
######################################################################### 100.0%#########                        70.4%
######################################################################### 100.0%
   Updating `~/.julia/environments/v1.4/Project.toml`
  [ce6b1742] + RDatasets v0.6.9
   Updating `~/.julia/environments/v1.4/Manifest.toml`
  [944b1d66] + CodecZlib v0.7.0
  [e2ba6199] + ExprTools v0.1.1
  [8f5d6c58] + EzXML v1.1.0
  [5789e2e9] + FileIO v1.3.0
  [94ce4f54] + Libiconv_jll v1.16.0+5
  [78c3b35d] + Mocking v0.7.1
  [df47a6cb] + RData v0.7.2
  [ce6b1742] + RDatasets v0.6.9
  [f269a46b] + TimeZones v1.2.0
  [3bb67fe8] + TranscodingStreams v0.9.5
  [02c8fc9c] + XML2_jll v2.9.10+1
   Building TimeZones → `~/.julia/packages/TimeZones/OjMoF/deps/build.log`

In [112]:
using RDatasets
iris = dataset("datasets", "iris")

┌ Info: Precompiling RDatasets [ce6b1742-4840-55fa-b093-852dadbb1d8b]
└ @ Base loading.jl:1260

150×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species   │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Cat…      │
├─────┼─────────────┼────────────┼─────────────┼────────────┼───────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa    │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa    │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa    │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa    │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa    │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa    │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa    │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa    │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa    │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa    │
⋮
│ 140 │ 6.9         │ 3.1        │ 5.4         │ 2.1        │ virginica │
│ 141 │ 6.7         │ 3.1        │ 5.6         │ 2.4        │ virginica │
│ 142 │ 6.9         │ 3.1        │ 5.1         │ 2.3        │ virginica │
│ 143 │ 5.8         │ 2.7        │ 5.1         │ 1.9        │ virginica │
│ 144 │ 6.8         │ 3.2        │ 5.9         │ 2.3        │ virginica │
│ 145 │ 6.7         │ 3.3        │ 5.7         │ 2.5        │ virginica │
│ 146 │ 6.7         │ 3.0        │ 5.2         │ 2.3        │ virginica │
│ 147 │ 6.3         │ 2.5        │ 5.0         │ 1.9        │ virginica │
│ 148 │ 6.5         │ 3.0        │ 5.2         │ 2.0        │ virginica │
│ 149 │ 6.2         │ 3.4        │ 5.4         │ 2.3        │ virginica │
│ 150 │ 5.9         │ 3.0        │ 5.1         │ 1.8        │ virginica │

In [113]:
first(iris, 10)

10×5 DataFrame
│ Row │ SepalLength │ SepalWidth │ PetalLength │ PetalWidth │ Species │
│     │ Float64     │ Float64    │ Float64     │ Float64    │ Cat…    │
├─────┼─────────────┼────────────┼─────────────┼────────────┼─────────┤
│ 1   │ 5.1         │ 3.5        │ 1.4         │ 0.2        │ setosa  │
│ 2   │ 4.9         │ 3.0        │ 1.4         │ 0.2        │ setosa  │
│ 3   │ 4.7         │ 3.2        │ 1.3         │ 0.2        │ setosa  │
│ 4   │ 4.6         │ 3.1        │ 1.5         │ 0.2        │ setosa  │
│ 5   │ 5.0         │ 3.6        │ 1.4         │ 0.2        │ setosa  │
│ 6   │ 5.4         │ 3.9        │ 1.7         │ 0.4        │ setosa  │
│ 7   │ 4.6         │ 3.4        │ 1.4         │ 0.3        │ setosa  │
│ 8   │ 5.0         │ 3.4        │ 1.5         │ 0.2        │ setosa  │
│ 9   │ 4.4         │ 2.9        │ 1.4         │ 0.2        │ setosa  │
│ 10  │ 4.9         │ 3.1        │ 1.5         │ 0.1        │ setosa  │